.teacherWrapper{
  margin: 0;
  padding: 10px;
  width: 1365px;
  height: 640px;
  background-color: rgb(203, 203, 203);
}
.teacherContainer{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
}
.teacherInfo{
  color: WHITE;
  border-radius: 10px;
  background: #0c243c;
  overflow: hidden;
}
.uploadBtn{
  margin-top: 50px;
  margin-left: 43px;
  width: fit-content;
}
.logoutBtn{
  position: absolute;
  bottom: 40px;
  left: 70px;
}
.tableCustom{
  height: 400px;
  width: 1070px;
  overflow-y: auto;
}
.fileList{
  font-size: 14px;
}
.teacherContent{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}
.teacherContentRow{
  box-shadow: none;
  margin: 0;
display: flex;
align-items: center;
justify-content: center;
  height: 100%;
  width : 100%;
}
.userName{
  margin-top: 190px;
}
.dialog{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
.confirmationContent{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
/* Search Bar */
.search-container{
  width: 490px;
  display: block;
  margin-top:-50px ;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }
.body{
  margin-top: 10px;
}
.search-icon{
  position: absolute;
  float: right;
  width: 65px;
  height: 65px;
  top: 0;
  right: 0;
}
.teacherUploadBtn{
  background-color: #0c243c;
  color: white;
}
.teacherUploadBtn:hover{
  background-color: #3a83d6;
color: white;
transition: .2s;
}
.teacherCancelBtn{
  background-color: #0c243c;
  color: white;
}
.teacherCancelBtn:hover{
  background-color: #de1e1e;
color: white;
transition: .2s;
}

.teacherFaXmark{
  color: #0c243c;
  position: absolute;
  top:20px;
  right: 375px;
}
.teacherFaXmark:hover{
color: #de1e1e;
transition: .2s;
}

