.teacherWrapper{
  margin: 0;
  padding: 0;
  background-color: gray;
  width: 1366px;
  height: 641px;
}
.teacherContainer{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
}
.teacherInfo{
  background: linear-gradient(to bottom, #3e88dd, #0a0064);
  color: white;
  display: flex;
flex-direction: column;
}
.uploadBtn{
  margin-top: 50px;
  margin-left: 43px;
  width: fit-content;
}
.logoutBtn{
  position: absolute;
  bottom: 40px;
  left: 70px;
}
.tableCustom{
  width: 710px;
  height: 500px;
  margin-left: 200px;
  overflow-y: auto;
}
.userName{
  margin-top: 170px;
}
.dialog{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
.confirmationContent{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}