.bg{
  margin: 0;
  padding: 0;
}
.dash_admin{
    font-family: Arial, Helvetica, sans-serif;
    color:  white;
    background-color: #050128;
    width: 500px;
    margin-left: 225px;
  }
  .admin_container{
    width: 1358px;
    height: 642px;
  }
  .welcome{
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    color: #06003d;
  }
  .custom_data{
    height: 100px;
  }

  .top-left-button {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(0, 0);
  }
  .courseButton{
  font-size: 20px;
    font-family: 'Helvetica Neue, Helvetica, Arial, sans-serif';
  }
  .icon{
    width: 50px;
    margin-right: 10px;
    background-image: url('icons/profile1.jpg');
  }
.course_container{
  margin-left: 220px;
  width: 1000px;
}
  .custom-AdminInfo{
    border-right: 2px solid #06003d;
    color: WHITE;
    height: 100%;
    background: linear-gradient(to bottom, #143f71, #050128);
    margin: 0;
    padding: 0;
    position: fixed;
  }
  .logoutBtnAdmin{
    margin-top: 150px;
  }
  @media screen  and (max-width:600px){
    .admin_container{
      height: 605px;
      margin: 0;
    }
  }