.studentWrapper{
  margin: 0;
  padding: 0;
  background-color: gray;
  width: 1366px;
  height: 641px;
}
.studentContainer{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
}
.studentInfo{
  background: linear-gradient(to bottom, #3e88dd, #0a0064);
  color: white;
  display: flex;
flex-direction: column;
}
.lnuMaterials{
  margin-top: 50px;
  margin-left: 35px;
  width: fit-content;
}
.back{
  margin-top: 50px;
  margin-left: 66px;
  width: fit-content;
}
.logoutBtn{
  position: absolute;
  bottom: 40px;
  left: 70px;
}
.tableCustom{
  width: 710px;
  height: 500px;
  margin-left: 200px;
  overflow-y: auto;
}
.courseButton{
  margin-top: 100px;
  margin-left: 90px;
  height: 250px;
  border: 1px solid black ;
  width: 400px;
}
.userName{
  margin-top: 170px;
}
.dialog{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
.confirmationContent{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
.viewMaterialBtn:hover{
  text-decoration: underline;
}
/* Search Bar */
.search-container{
  width: 490px;
  display: block;
  margin-top:-50px ;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }
.body{
  padding-top: 75px;
}
.search-icon{
  position: absolute;
  float: right;
  width: 65px;
  height: 65px;
  top: 0;
  right: 0;
}
.courseContent{
  overflow-y: auto;
  margin-left: 226px;
  height: 641px;
  width: 1140px;
  padding: 20px;
}
.courseList{
  background: linear-gradient(to bottom, #3e88dd, #0a0064);
  height: inherit;
  color: white;
  display: flex;
flex-direction: column;
  position: fixed;
}
.courseTitleList{
list-style: none;  
cursor: pointer;
color: rgb(194, 194, 255);

}
.courseTitleList:hover{
color: white;
}