.studentWrapper{
  margin: 0;
  padding: 10px;
  width: 1365px;
  height: 640px;
  background-color: rgb(203, 203, 203);

}
.studentContent{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}
.studentContentRow{
  box-shadow: none;
    margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;
    width : 100%;
}
.studentContainer{
  height: 100%;
  width: 100%;
  margin-left: 1px;
}

.studentInfo{
  color: WHITE;
    border-radius: 10px;
    background: #0c243c;
    overflow: hidden;

}
.searchBar{
  width: 500px;
}
.back{
  margin-top: 50px;
  margin-left: 66px;
  width: fit-content;
}
.logoutBtn{
  position: absolute;
  bottom: 40px;
  left: 70px;
}
.lnuMaterialsList{
  height: 450px;
  width: 1070px;
  overflow-y: auto;
}
.faDownload{
  color: #0c243c;
}
.faDownload:hover{
  color: #1b9c12;
  transition: .2s;
}
.courseButton{
  margin-top: 100px;
  margin-left: 90px;
  height: 250px;
  width: 400px;
}
.courseButton:hover{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./icons/javaIcon.gif");
}
.studentFaXmark{
  color: #0c243c;
  position: absolute;
  top:90px;
  right: 210px;
}
.studentFaXmark:hover{
color: #de1e1e;
transition: .2s;
}
.studentName{
  margin-top: 190px;
}
.quizBorder{
  height: 410px;
}
.courses{
  width: 1000px;
  height: 490px;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  margin-left: 100px;
}
.dialog{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
.confirmationContent{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
.viewMaterialBtn:hover{
  text-decoration: underline;
}
/* Search Bar */
.search-container{
  width: 490px;
  display: block;
  margin-top:-50px ;
}

.body{
  padding-top: 75px;
}
.search-icon{
  position: absolute;
  float: right;
  width: 65px;
  height: 65px;
  top: 0;
  right: 0;
}.coursePythonLogo{
width: 100px;
margin-left: 150px;
margin-top: 10px;
}
.javaName{
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.pythonName{
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.courseContent{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.courseDisplay{
  width: 100%;
  padding: 10px;
  color: black;
}
.courseContentRow{
  box-shadow: none;
  margin: 0;
display: flex;
align-items: center;
justify-content: center;
  height: 620px;
  width : 100%;
  overflow-y: auto;
}
.courseDisplay a{
  color: blue;
}
.courseDisplay a:hover{
  text-decoration: underline;
  color: #143f71;
}
.courseDisplay table {
  border-collapse: collapse;
  width: 100%;
}
.courseDisplay th, .courseDisplay td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}
.takeQuizBtn{
  width: 250px;
  height: 50px;
  background-color: #0c243c;
  color: white;
}
.takeQuizBtn:hover{
  background-color: #143f71;
color: white;
}
.courseList{
  color: WHITE;
    border-radius: 10px;
    background: #0c243c;
overflow-y: auto;    
height: 475px;
}
.courseList li{
  list-style: none;
  border: 1px solid #2c66a0;
  padding: 10px;
  width: 290px;
  margin-left: -25px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 10px;
}
.courseList li:hover{
  background-color: #2c66a0 ;
  transition: .3s;
  cursor: pointer;
}
.courseTitleList{
list-style: none;  
cursor: pointer;
color: rgb(194, 194, 255);

}
.courseTitleList:hover{
color: white;
}
.studentLogo{
  width: 70px;
}
.studentLogoName{
  margin-top: 50px;
  margin-left: 80px;
}
.javaIcon1{
  height: 400px;
  width: 400px;
  background-image: url('icons/javaIcon.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
border-radius: 20px;
}
.javaIcon1:hover{
  background-image: url('icons/javaIcon1hover.gif');
  background-repeat:space;
  background-size: contain;
  background-position: center;
}
.pythonIcon{
  height: 400px;
  width: 400px;
  background-image: url('icons/pythonIcon.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
border-radius: 20px;
}
.pythonIcon:hover{
  background-image: url('icons/pythonIconhover.gif');
  background-repeat:space;
  background-size: contain;
  background-position: center;
}